<a href="https://colab.research.google.com/github/yashaaryan/10a/blob/main/DraftSuccessPredictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
college_df = pd.read_csv('/content/CollegeBasketballPlayers2009-2021.csv')
college_df.head()
college_df.info()

# Remove players with no draft pick (non-drafted players)
college_df = college_df[college_df['pick'].notnull()]
college_df.head()
college_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61061 entries, 0 to 61060
Data columns (total 66 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   player_name                      61061 non-null  object
 1   team                             61061 non-null  object
 2   conf                             61061 non-null  object
 3   GP                               61061 non-null  int64
 4   Min_per                          61061 non-null  float64
 5   Ortg                             61061 non-null  float64
 6   usg                              61061 non-null  float64
 7   eFG                              61061 non-null  float64
 8   TS_per                           61061 non-null  float64
 9   ORB_per                          61061 non-null  float64
 10  DRB_per                          61061 non-null  float64
 11  AST_per                          61061 non-null  float64
 12  TO_per                           61061 non-null  float64
 13  FTM                              61061 non-null  int64
 14  FTA                              61061 non-null  int64
 15  FT_per                           61061 non-null  float64
 16  twoPM                            61061 non-null  int64
 17  twoPA                            61061 non-null  int64
 18  twoP_per                         61061 non-null  float64
 19  TPM                              61061 non-null  int64
 20  TPA                              61061 non-null  int64
 21  TP_per                           61061 non-null  float64
 22  blk_per                          61061 non-null  float64
 23  stl_per                          61061 non-null  float64
 24  ftr                              61061 non-null  float64
 25  yr                               60767 non-null  object
 26  ht                               60950 non-null  object
 27  num                              56275 non-null  object
 28  porpag                           61061 non-null  float64
 29  adjoe                            61061 non-null  float64
 30  pfr                              61061 non-null  float64
 31  year                             61061 non-null  int64
 32  pid                              61061 non-null  int64
 33  type                             61061 non-null  object
 34  Rec Rank                         18470 non-null  float64
 35  ast/tov                          56334 non-null  float64
 36  rimmade                          54732 non-null  float64
 37  rimmade+rimmiss                  54732 non-null  float64
 38  midmade                          54732 non-null  float64
 39  midmade+midmiss                  54732 non-null  float64
 40  rimmade/(rimmade+rimmiss)        50951 non-null  float64
 41  midmade/(midmade+midmiss)        50676 non-null  float64
 42  dunksmade                        54732 non-null  float64
 43  dunksmiss+dunksmade              54732 non-null  float64
 44  dunksmade/(dunksmade+dunksmiss)  27551 non-null  float64
 45  pick                             1435 non-null   float64
 46  drtg                             61016 non-null  float64
 47  adrtg                            61016 non-null  float64
 48  dporpag                          61016 non-null  float64
 49  stops                            61016 non-null  float64
 50  bpm                              61016 non-null  float64
 51  obpm                             61016 non-null  float64
 52  dbpm                             61016 non-null  float64
 53  gbpm                             61016 non-null  float64
 54  mp                               61023 non-null  float64
 55  ogbpm                            61016 non-null  float64
 56  dgbpm                            61016 non-null  float64
 57  oreb                             61023 non-null  float64
 58  dreb                             61023 non-null  float64
 59  treb                             61023 non-null  float64
 60  ast                              61023 non-null  float64
 61  stl                              61023 non-null  float64
 62  blk                              61023 non-null  float64
 63  pts                              61023 non-null  float64
 64  Unnamed: 64                      56377 non-null  object
 65  Unnamed: 65                      61016 non-null  float64
dtypes: float64(49), int64(9), object(8)
memory usage: 30.7+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 1435 entries, 33 to 60796
Data columns (total 66 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   player_name                      1435 non-null   object
 1   team                             1435 non-null   object
 2   conf                             1435 non-null   object
 3   GP                               1435 non-null   int64
 4   Min_per                          1435 non-null   float64
 5   Ortg                             1435 non-null   float64
 6   usg                              1435 non-null   float64
 7   eFG                              1435 non-null   float64
 8   TS_per                           1435 non-null   float64
 9   ORB_per                          1435 non-null   float64
 10  DRB_per                          1435 non-null   float64
 11  AST_per                          1435 non-null   float64
 12  TO_per                           1435 non-null   float64
 13  FTM                              1435 non-null   int64
 14  FTA                              1435 non-null   int64
 15  FT_per                           1435 non-null   float64
 16  twoPM                            1435 non-null   int64
 17  twoPA                            1435 non-null   int64
 18  twoP_per                         1435 non-null   float64
 19  TPM                              1435 non-null   int64
 20  TPA                              1435 non-null   int64
 21  TP_per                           1435 non-null   float64
 22  blk_per                          1435 non-null   float64
 23  stl_per                          1435 non-null   float64
 24  ftr                              1435 non-null   float64
 25  yr                               1435 non-null   object
 26  ht                               1435 non-null   object
 27  num                              1296 non-null   object
 28  porpag                           1435 non-null   float64
 29  adjoe                            1435 non-null   float64
 30  pfr                              1435 non-null   float64
 31  year                             1435 non-null   int64
 32  pid                              1435 non-null   int64
 33  type                             1435 non-null   object
 34  Rec Rank                         1258 non-null   float64
 35  ast/tov                          1434 non-null   float64
 36  rimmade                          1297 non-null   float64
 37  rimmade+rimmiss                  1297 non-null   float64
 38  midmade                          1297 non-null   float64
 39  midmade+midmiss                  1297 non-null   float64
 40  rimmade/(rimmade+rimmiss)        1296 non-null   float64
 41  midmade/(midmade+midmiss)        1295 non-null   float64
 42  dunksmade                        1297 non-null   float64
 43  dunksmiss+dunksmade              1297 non-null   float64
 44  dunksmade/(dunksmade+dunksmiss)  1214 non-null   float64
 45  pick                             1435 non-null   float64
 46  drtg                             1435 non-null   float64
 47  adrtg                            1435 non-null   float64
 48  dporpag                          1435 non-null   float64
 49  stops                            1435 non-null   float64
 50  bpm                              1435 non-null   float64
 51  obpm                             1435 non-null   float64
 52  dbpm                             1435 non-null   float64
 53  gbpm                             1435 non-null   float64
 54  mp                               1435 non-null   float64
 55  ogbpm                            1435 non-null   float64
 56  dgbpm                            1435 non-null   float64
 57  oreb                             1435 non-null   float64
 58  dreb                             1435 non-null   float64
 59  treb                             1435 non-null   float64
 60  ast                              1435 non-null   float64
 61  stl                              1435 non-null   float64
 62  blk                              1435 non-null   float64
 63  pts                              1435 non-null   float64
 64  Unnamed: 64                      1297 non-null   object
 65  Unnamed: 65                      1435 non-null   float64
dtypes: float64(49), int64(9), object(8)
memory usage: 751.1+ KB

<ipython-input-65-58b87c2daf43>:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  college_df = pd.read_csv('/content/CollegeBasketballPlayers2009-2021.csv')

In [66]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encode 'team' and 'conf' columns
college_df['team'] = label_encoder.fit_transform(college_df['team'])
college_df['conf'] = label_encoder.fit_transform(college_df['conf'])
college_df.head()

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
33,Charles Jenkins,39,8,31,86.2,104.3,30.8,43.1,50.76,2.7,...,1.16650,0.9032,3.8387,4.7419,4.3226,1.4194,0.4516,19.5161,NaN,5.09412
100,Ryan Reid,30,1,35,47.4,82.0,19.7,44.0,48.56,9.5,...,2.10889,1.4857,2.2286,3.7143,0.7429,0.6571,0.6571,4.9143,NaN,0.00000
102,Kyle Singler,26,1,37,80.4,111.8,26.0,51.4,54.90,10.6,...,2.47296,3.0270,4.6486,7.6757,2.4054,1.5405,1.0270,16.4595,NaN,8.66581
103,Nolan Smith,26,1,34,49.5,105.3,20.6,48.5,53.84,3.5,...,1.58800,0.6765,1.5000,2.1765,1.7059,0.9412,0.0588,8.3824,NaN,6.09933
104,E'Twaun Moore,91,3,37,81.9,98.4,25.1,48.5,51.73,3.9,...,1.97424,1.0541,3.5676,4.6216,3.0000,1.0811,0.4324,13.8378,NaN,8.24212

In [67]:
# Drop 'team' and 'conf' columns from the dataframe
college_df = college_df.drop(columns=['Unnamed: 64', 'Unnamed: 65'])

# Verify that the columns are removed
college_df.head()

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,mp,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts
33,Charles Jenkins,39,8,31,86.2,104.3,30.8,43.1,50.76,2.7,...,35.0323,3.44840,1.16650,0.9032,3.8387,4.7419,4.3226,1.4194,0.4516,19.5161
100,Ryan Reid,30,1,35,47.4,82.0,19.7,44.0,48.56,9.5,...,19.1143,-2.97775,2.10889,1.4857,2.2286,3.7143,0.7429,0.6571,0.6571,4.9143
102,Kyle Singler,26,1,37,80.4,111.8,26.0,51.4,54.90,10.6,...,32.2703,6.73951,2.47296,3.0270,4.6486,7.6757,2.4054,1.5405,1.0270,16.4595
103,Nolan Smith,26,1,34,49.5,105.3,20.6,48.5,53.84,3.5,...,21.6176,1.06775,1.58800,0.6765,1.5000,2.1765,1.7059,0.9412,0.0588,8.3824
104,E'Twaun Moore,91,3,37,81.9,98.4,25.1,48.5,51.73,3.9,...,33.0811,2.37639,1.97424,1.0541,3.5676,4.6216,3.0000,1.0811,0.4324,13.8378

In [68]:
import pandas as pd

# Read the Excel file with the specified engine
draft_2010 = pd.read_csv('/content/Merged file.csv')

# Define the new column names
new_column_names = ['Rk', 'Pk', 'Tm', 'Player', 'College', 'Yrs', 'G', 'MP', 'PTS', 'TRB', 'AST', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'WS', 'WS/48', 'BPM', 'VORP']

# Assign the new column names to the DataFrame
draft_2010.columns = new_column_names
draft_2010 = draft_2010.drop(0, axis=0)

# Reset index after dropping the row
draft_2010 = draft_2010.reset_index(drop=True)


# Check the new column names
draft_2010 = draft_2010.dropna(subset=['College'])
draft_2010 = draft_2010.dropna(subset=['Yrs'])


# Check the updated DataFrame
draft_2010.head()
draft_2010.info()


# Check the first few rows

<class 'pandas.core.frame.DataFrame'>
Index: 223 entries, 0 to 303
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       223 non-null    object
 1   Pk       223 non-null    object
 2   Tm       223 non-null    object
 3   Player   223 non-null    object
 4   College  223 non-null    object
 5   Yrs      223 non-null    object
 6   G        223 non-null    object
 7   MP       223 non-null    object
 8   PTS      223 non-null    object
 9   TRB      223 non-null    object
 10  AST      223 non-null    object
 11  FG%      223 non-null    object
 12  3P%      209 non-null    object
 13  FT%      219 non-null    object
 14  MP       223 non-null    object
 15  PTS      223 non-null    object
 16  TRB      223 non-null    object
 17  AST      223 non-null    object
 18  WS       223 non-null    object
 19  WS/48    223 non-null    object
 20  BPM      223 non-null    object
 21  VORP     223 non-null    object
dtypes: object(22)
memory usage: 40.1+ KB

In [69]:


def classify_success(row):
    pick = pd.to_numeric(str(row["Pk"]), errors='coerce')  # Draft pick number
    ppg = pd.to_numeric(str(row["PTS"]), errors='coerce')  # Points per game
    rpg = pd.to_numeric(str(row["TRB"]), errors='coerce')  # Rebounds per game
    apg = pd.to_numeric(str(row["AST"]), errors='coerce')  # Assists per game
    ws = pd.to_numeric(str(row["WS"]), errors='coerce')  # Win Shares

    if pick <= 5:
        return 1 if (ppg >= 15 or rpg >= 5 or apg >= 5 or ws >= 40) else 0
    elif 6 <= pick <= 15:
        return 1 if (ppg >= 10 or rpg >= 4 or apg >= 4 or ws >= 25) else 0
    elif 16 <= pick <= 30:
        return 1 if (ppg >= 8 or rpg >= 3 or apg >= 3 or ws >= 15) else 0
    else:
        return 1 if (ppg >= 5 or rpg >= 2 or apg >= 2 or ws >= 5) else 0

# Apply function to dataset
draft_2010["Success"] = draft_2010.apply(classify_success, axis=1)

# Print results
print(draft_2010[["Player","Pk", "PTS", "TRB", "AST", "WS", "Success"]])

#save as draft_2010.csv
draft_2010.to_csv('draft_2010.csv', index=False)

                     Player  Pk    PTS   PTS   TRB   TRB   AST  AST     WS  \
0             Anthony Davis   1  18824  24.2  8341  10.7  1976  2.5  118.7
1    Michael Kidd-Gilchrist   2   3750   8.4  2420   5.4   515  1.2   21.0
2              Bradley Beal   3  17183  21.6  3231   4.1  3411  4.3   58.6
3              Dion Waiters   4   5505  13.1  1108   2.6  1163  2.8    8.8
4           Thomas Robinson   5   1528   4.9  1507   4.8   190  0.6    4.6
..                      ...  ..    ...   ...   ...   ...   ...  ...    ...
290               Joe Young  43    429   3.4   130   1.0   119  0.9    0.4
291         Andrew Harrison  44   1012   7.0   287   2.0   399  2.8    3.2
293           Norman Powell  46   7945  13.2  1619   2.7   917  1.5   31.7
295          Dakari Johnson  48     55   1.8    34   1.1     8  0.3    0.6
303          Branden Dawson  56      5   0.8     4   0.7     0  0.0    0.0

     Success
0          1
1          0
2          1
3          0
4          0
..       ...
290        0
291        0
293        1
295        0
303        0

[223 rows x 10 columns]

In [70]:
college_df = college_df.rename(columns={'player_name': 'Player'})

# Merge college_df with draft_2010 on 'Player' column to add the Success column
college_df_merge = college_df.merge(draft_2010[['Player','Pk', 'Success']], on='Player', how='left')

# Check the first few rows of the updated college_df
#college_df.head()

# Check the information of the merged dataframe
college_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1435 entries, 33 to 60796
Data columns (total 64 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Player                           1435 non-null   object
 1   team                             1435 non-null   int64
 2   conf                             1435 non-null   int64
 3   GP                               1435 non-null   int64
 4   Min_per                          1435 non-null   float64
 5   Ortg                             1435 non-null   float64
 6   usg                              1435 non-null   float64
 7   eFG                              1435 non-null   float64
 8   TS_per                           1435 non-null   float64
 9   ORB_per                          1435 non-null   float64
 10  DRB_per                          1435 non-null   float64
 11  AST_per                          1435 non-null   float64
 12  TO_per                           1435 non-null   float64
 13  FTM                              1435 non-null   int64
 14  FTA                              1435 non-null   int64
 15  FT_per                           1435 non-null   float64
 16  twoPM                            1435 non-null   int64
 17  twoPA                            1435 non-null   int64
 18  twoP_per                         1435 non-null   float64
 19  TPM                              1435 non-null   int64
 20  TPA                              1435 non-null   int64
 21  TP_per                           1435 non-null   float64
 22  blk_per                          1435 non-null   float64
 23  stl_per                          1435 non-null   float64
 24  ftr                              1435 non-null   float64
 25  yr                               1435 non-null   object
 26  ht                               1435 non-null   object
 27  num                              1296 non-null   object
 28  porpag                           1435 non-null   float64
 29  adjoe                            1435 non-null   float64
 30  pfr                              1435 non-null   float64
 31  year                             1435 non-null   int64
 32  pid                              1435 non-null   int64
 33  type                             1435 non-null   object
 34  Rec Rank                         1258 non-null   float64
 35  ast/tov                          1434 non-null   float64
 36  rimmade                          1297 non-null   float64
 37  rimmade+rimmiss                  1297 non-null   float64
 38  midmade                          1297 non-null   float64
 39  midmade+midmiss                  1297 non-null   float64
 40  rimmade/(rimmade+rimmiss)        1296 non-null   float64
 41  midmade/(midmade+midmiss)        1295 non-null   float64
 42  dunksmade                        1297 non-null   float64
 43  dunksmiss+dunksmade              1297 non-null   float64
 44  dunksmade/(dunksmade+dunksmiss)  1214 non-null   float64
 45  pick                             1435 non-null   float64
 46  drtg                             1435 non-null   float64
 47  adrtg                            1435 non-null   float64
 48  dporpag                          1435 non-null   float64
 49  stops                            1435 non-null   float64
 50  bpm                              1435 non-null   float64
 51  obpm                             1435 non-null   float64
 52  dbpm                             1435 non-null   float64
 53  gbpm                             1435 non-null   float64
 54  mp                               1435 non-null   float64
 55  ogbpm                            1435 non-null   float64
 56  dgbpm                            1435 non-null   float64
 57  oreb                             1435 non-null   float64
 58  dreb                             1435 non-null   float64
 59  treb                             1435 non-null   float64
 60  ast                              1435 non-null   float64
 61  stl                              1435 non-null   float64
 62  blk                              1435 non-null   float64
 63  pts                              1435 non-null   float64
dtypes: float64(48), int64(11), object(5)
memory usage: 728.7+ KB

In [72]:
college_df_merge = college_df_merge.dropna(subset=['Success'])
college_df_merge.fillna(0, inplace=True)
# Split dataset into different draft pick groups
top_5 = college_df_merge[college_df_merge["pick"] <= 5]
lottery = college_df_merge[(college_df_merge["pick"] > 5) & (college_df_merge["pick"] <= 15)]
first_round = college_df_merge[(college_df_merge["pick"] > 15) & (college_df_merge["pick"] <= 30)]
second_round = college_df_merge[college_df_merge["pick"] > 30]

In [78]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Convert 'Pk' to numeric
#college_df["Pk"] = pd.to_numeric(college_df["Pk"], errors="coerce")

# Drop any rows where 'Pk' is NaN after conversion
#college_df = college_df.dropna(subset=["Pk"])

# Convert back to integer (after handling NaNs)
#college_df["Pk"] = college_df["Pk"].astype(int)

# Define draft pick groups
pick_groups = {
    "Top 5": college_df_merge[college_df_merge["pick"] <= 5],
    "Lottery (6-15)": college_df_merge[(college_df_merge["pick"] > 5) & (college_df_merge["pick"] <= 15)],
    "First Round (16-30)": college_df_merge[(college_df["pick"] > 15) & (college_df_merge["pick"] <= 30)],
    "Second Round (31+)": college_df_merge[college_df_merge["pick"] > 30]
}
models = {}


# Train and evaluate models for each group
for group_name, group_df in pick_groups.items():
    if group_df.shape[0] < 10:  # Skip small datasets to avoid overfitting
        continue

    X = group_df.drop(columns=["Success", "Player",'yr','ht','num', "Pk",'conf','team','type'])  # Drop non-feature columns
    y = group_df["Success"]
    print(X.shape)
    print(y.shape)

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.75, random_state=42)

    # Train XGBoost model
    model = xgb.XGBClassifier(use_label_encoder=False, eval_metric="logloss")
    model.fit(X_train, y_train)

    # Predict and evaluate accuracy
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)

    print(f"{group_name} Accuracy: {accuracy:.2f}")
    models[group_name] = model

<ipython-input-78-8979adebe669>:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "First Round (16-30)": college_df_merge[(college_df["pick"] > 15) & (college_df_merge["pick"] <= 30)],
/usr/local/lib/python3.11/dist-packages/xgboost/core.py:158: UserWarning: [21:10:04] WARNING: /workspace/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

(27, 57)
(27,)
Top 5 Accuracy: 0.76
(86, 57)
(86,)
Lottery (6-15) Accuracy: 0.60
(10, 57)
(10,)
First Round (16-30) Accuracy: 0.88
(266, 57)
(266,)
Second Round (31+) Accuracy: 0.69

/usr/local/lib/python3.11/dist-packages/xgboost/core.py:158: UserWarning: [21:10:05] WARNING: /workspace/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
/usr/local/lib/python3.11/dist-packages/xgboost/core.py:158: UserWarning: [21:10:05] WARNING: /workspace/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
/usr/local/lib/python3.11/dist-packages/xgboost/core.py:158: UserWarning: [21:10:05] WARNING: /workspace/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

In [79]:

new_data_2017 = college_df[(college_df['year'] == 2017) & (college_df['pick'].notnull())]
# Function to assign a model based on draft pick
def get_pick_group(pk):
    if pk <= 5:
        return "Top 5"
    elif 6 <= pk <= 15:
        return "Lottery (6-15)"
    elif 16 <= pk <= 30:
        return "First Round (16-30)"
    else:
        return "Second Round (31+)"


# Make predictions for each player
for index, row in new_data_2017.iterrows():
    group_name = get_pick_group(row["pick"])

    if group_name in models:
        model = models[group_name]

        # Prepare row for prediction
        features = row.drop(labels=["Success", "Player",'yr','ht','num', "Pk",'conf','team','type','Unnamed: 64','Unnamed: 65'], errors="ignore").values.reshape(1, -1)


        # Predict success
        new_data_2017.at[index, "Success"] = model.predict(features)[0]

# Save updated dataset with "Success" predictions
new_data_2017.to_csv("new_data_with_success.csv", index=False)

<ipython-input-79-bfb0dfcdb7b5>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data_2017.at[index, "Success"] = model.predict(features)[0]